<manifest xmlns:tools="http://schemas.android.com/tools"
  package="com.thorny.photoeasy"
  xmlns:android="http://schemas.android.com/apk/res/android">

    <!--This feature requires the application,
    otherwise it will not be displayed on the play store-->
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"
      tools:ignore="ScopedStorage" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
